# Секретные ключи и переменные окружения
.env

# Файлы, созданные Python
__pycache__/
*.pyc
*.pyd
*.pyo

# Файлы, созданные операционной системой (macOS/Windows)
.DS_Store
Thumbs.db

# Файлы, созданные Render (история опубликованных новостей)
published_news.json